/* Board.css */
.board {
    display: flex;
    justify-content: center;
    padding: 10px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .community-card {
    height: 135px;
    margin-right: 1px;
  }
  
  /* Last card should not have a right margin */
  .community-card:last-child {
    margin-right: 0;
  }
  