/* Player.css */
.player-container {
  position: relative;
}

.player {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Adjust as needed */
  background: rgba(0, 0, 0, 0); /* Semi-transparent black background = (0, 0, 0, .85) */
  /* background-image: url('/Users/tannerhoalst/Desktop/poker-app/client/public/assets/cover.jpg'); */
  border-radius: 9px;
  padding: 2px;
  margin: 1px;
  position: relative; /* Set relative for absolute positioning of children */
  width: 250px; /* Adjust width as needed */
  height: 80px; /* Adjust height as needed */
  margin-bottom: 0px;
}

.cards {
  position: absolute; /* Position the cards absolutely within player */
  top: 50%;
  left: 2px; /* Adjust as needed */
  transform: translateY(-50%); /* Center the cards vertically */
  z-index: 1;
}

.card {
  height: 80px; /* Adjust as needed */
  margin-right: 0px; /* Overlap the cards */
}

.player-info {
  z-index: 2; /* Ensure the player info is above the cards */
  color: black;
  text-align: center;
  margin-left: auto; /* Push the info to the right */
  margin-right: 0px; /* Space between info and the edge of the container */
}

.player-status {
  position: absolute;
  width: 100px;
  /*bottom: 0px; /* this interfears with margin-top ?? */
  margin-top: -25px;
  margin-left: 260px; /* Space between player info and status */
  color: white; /* Style the color of your status text */
  text-transform: uppercase;
  text-align: left;
}

